@model ParkingLot.Entities.ViewModels.ParkingLotView
@{Layout = "_LayoutGeneral"; }


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/images/parking2.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Parking Details</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Parking Details</li>
            </ol>
        </div>
    </div>
</main>

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                        <h2 class="fs-4 fw-bold">Parking Name</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.name</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-geo-alt"></i></div>
                        <h2 class="fs-4 fw-bold">Location</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.location</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person"></i></div>
                        <h2 class="fs-4 fw-bold">Owner's Name</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.ownername</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-clock"></i></div>
                        <h2 class="fs-4 fw-bold">Opening Time</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.openingtime</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-clock"></i></div>
                        <h2 class="fs-4 fw-bold">Closing Time</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.closingtime</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-calendar-x"></i></div>
                        <h2 class="fs-4 fw-bold">Closed On</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.closedon</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-person-rolodex"></i></div>
                        <h2 class="fs-4 fw-bold">Contact No.</h2>
                        <p class="fs-5 mb-0">@Model.ParkingLotDetails.contactno</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-list"></i></div>
                        <h2 class="fs-4 fw-bold">Facilities: </h2>
                        <p class="fs-5 mb-0">
                            @foreach (var item in Model.ParkingLotFacilities)
                            {
                                if (item.IsChecked)
                                {
                                    <div class="fs-5 mb-0">@item.Facility</div>

                                }
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-list"></i></div>
                        <h2 class="fs-4 fw-bold">Parking Type: </h2>
                        <p class="fs-5 mb-0">
                            @foreach (var item in Model.ParkingLotTypes)
                            {
                                if (item.IsChecked)
                                {
                                    <div class="fs-5 mb-0">@item.Type</div>

                                }
                            }
                        </p>
                    </div>
                </div>
            </div>

            <div id="map"></div>

        </div>
    </div>
</section>

@*@section Scripts{
    <script type="text/javascript">$(function () {
            var loadmaps = function () {
                var options = {
                    url: "/home/getallparkinglots",
                    method: "GET",
                    dataType: "json"
                }
                $.ajax(options).done(function (data) {
                    var map = L.map('map', { scrollWheelZoom: false, touchZoom: true }).setView([27.33353937970877, 88.60175328243812], 15);
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);

                    L.marker([@Model.ParkingLotDetails.latitude, @Model.ParkingLotDetails.longitude])
                      .addTo(map).bindPopup("<b>" + @Model.ParkingLotDetails.name + "</b><br>" + @Model.ParkingLotDetails.Type + "<br>").openPopup();
                })
                });
            }
            loadmaps();
        });</script>
}*@