@model ParkingLot.Entities.ViewModels.ParkingLotAddEditModel
@{
    ViewData["Title"] = "Dashboard";
}
<style>
    a {
        color: var(--color-primary);
        text-decoration: none;
    }

</style>

<link rel="stylesheet" href="~/css/Dashboard.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<div id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/images/parking2.jpeg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>DashBoard</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="dashboard/index">Dashboard</a></li>
            </ol>
        </div>
    </div>

    <div class="card-items mt-4">
        <div class="bg-default">
            <div class="main-content">
                    <div class="container-fluid">
                        <h2 class="mb-5 text-white">Stats Card</h2>
                        <div class="header-body">
                            <div class="row">
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card card-stats mb-4 mb-xl-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted mb-0">Free Parkings</h5>
                                                    <span class="h2 font-weight-bold mb-0">
                                                        <span>
                                                            @ViewBag.FreePaymentType
                                                        </span>

                                                    </span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                        <i class="fas fa-chart-bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0 text-muted text-sm">
                                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                                <span class="text-nowrap">Since last month</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card card-stats mb-4 mb-xl-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted mb-0">Paid Parkings</h5>
                                                    <span class="h2 font-weight-bold mb-0">
                                                        <span>
                                                            @ViewBag.PaidPaymentType
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                                        <i class="fas fa-chart-pie"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0 text-muted text-sm">
                                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i>3.89%</span>
                                                <span class="text-nowrap">Since last week</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card card-stats mb-4 mb-xl-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted mb-0">Large Parking</h5>
                                                    <span class="h2 font-weight-bold mb-0">
                                                        <span>
                                                            @ViewBag.LargeFacillity
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                                        <i class="fas fa-users"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0 text-muted text-sm">
                                                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                                <span class="text-nowrap">Since yesterday</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6">
                                    <div class="card card-stats mb-4 mb-xl-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title text-uppercase text-muted mb-0">No. of users</h5>
                                                    <span class="h2 font-weight-bold mb-0">
                                                        <span>
                                                            @ViewBag.UsersCount
                                                        </span>

                                                    </span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                        <i class="fas fa-chart-bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-0 text-muted text-sm">
                                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                                <span class="text-nowrap">Since last month</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 mt-4">
                                <div class="card card-stats mb-4 mb-xl-0">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">No. of Admins</h5>
                                                <span class="h2 font-weight-bold mb-0">
                                                    <span>
                                                        @ViewBag.AdminCount
                                                    </span>

                                                </span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                    <i class="fas fa-chart-bar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mt-3 mb-0 text-muted text-sm">
                                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                            <span class="text-nowrap">Since last month</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                            </div>
                        </div>
                    </div>
                <!-- Page content -->
            </div>
        </div>
    </div>
</div>

