@model ParkingLot.Entities.Models.utblMstDistrict
@{
    ViewData["Title"] = "Add District";
}
<h1>Select District</h1>
<div class="row">
    <div class="col-md-12">
        @if (@TempData["ErrMsg"] != null)
        {
            <div class="text-danger">Error Message: @TempData["ErrMsg"].ToString()</div>
        }
        <form method="post" action="/district/addnew" novalidate>
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label>Enter District Name</label>
                @Html.TextBoxFor(m => m.districtname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.districtname, "", new { @class = "text-danger" })

            </div>
            <div class="mb-3">
                <label>Enter Description</label>
                @Html.TextBoxFor(m => m.description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label>Enter the creator's name:</label>
                @Html.TextBoxFor(m => m.createdby, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.createdby, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <a href="/district/districtview" class="btn btn-secondary">Back</a>
                <button class="btn btn-primary float-end" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



