@model ParkingLot.Entities.ViewModels.ParkingLotsViewModel
@{
    ViewData["Title"] = "ParkingLot";
}
<link href="toastr.css" rel="stylesheet" />
<div class="text-justify">
    <h1>Parking Lot</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary float-end" href="/ParkingLot/addparkinglots">Add new</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                <th>
                    Opening Time
                </th>
                <th>
                    Closing Time
                </th>
                <th>
                    Closed On
                </th>
                <th>
                    Owner Name
                </th>
                <th>
                    Contact no
                </th>
                <th>
                    Email id
                </th>
                <th>
                    District Name
                </th>
                <th>
                    Payment Type 
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Updated On
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomParkingLot)
            {
                <tr>
                    <td>
                        @item.id
                    </td>
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.location
                    </td>
                    <td>
                        @item.latitude.ToString("F5")
                    </td>
                    <td>
                        @item.longitude.ToString("F5")
                    </td>
                    <td>
                        @item.openingtime
                    </td>
                    <td>
                        @item.closingtime
                    </td>
                    <td>
                        @item.closedon
                    </td>
                    <td>
                        @item.ownername
                    </td>
                    <td>
                        @item.contactno
                    </td>
                    <td>
                        @item.emailid
                    </td>
                    <td>
                        @item.districtName
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.createdby
                    </td>
                    <td>
                        @item.lastupdatedon.ToString("dd MMM yyyy hh:mm tt")
                    </td>
                    <td>
                        <a asp-action="UpdateParkingLots" asp-controller="ParkingLot" asp-route-id="@item.id">Edit</a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" class="delete-link" data-parkinglotid="@item.id">Delete</a>
                        @*<a asp-action="DeleteView" class="delete-link" asp-route-id="@item.id" data-districtid="@item.id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <form method="post" asp-action="DeleteParkingLots" asp-controller="ParkingLot">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" id="parkinglotid" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm Deletion</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="errMsg" class="d-none" data-msg="@TempData["ErrMsg"]"></div>
@section Scripts{
    <script src="toastr.js"></script>
    <script type="text/javascript">
        $(function () {
            var errMsg = $('#errMsg').attr('data-msg');
            
            if (errMsg != '') {
                if (errMsg== "success")
                {
                    toastr.success('Operation Successfull');
                }
                else
                {
                    toastr.error('Error: '+errMsg);
                }
            }
            $(document).on('click', '.delete-link', function (e) {
                e.preventDefault();
                var parkinglotid = $(this).attr('data-parkinglotid');
                $("#parkinglotid").val(parkinglotid);
                $('#deleteModal').modal("show");
            });
        });</script>
}


